Mini projet de traitement de données avec Python
Enseignant: KAFANDO Rodrigue
Etudiant: ZONGO Rasmané
Le but de cet exercice est d'extraire un sous-ensemble de données à partir d'une base de données existante.

1. Exporter la base de données qui recense les informations sur le Burkina Faso (https://download.geonames.org/export/dump/).
Pour ce faire, reférez-vous au Readme, décrit à la fin de la page pour identifier le code iso correspondant à celui du Burkina Faso

2. Téléchargement du fichier zip correspondant

3. Application les opérations de prétraitement et filtres nécessaires à ce fichier, pour ne
garder que les colonnes correspondantes :

 3.1: Import des bibiliothèques

In [17]:
import os
import pandas as pd
import string
import xlsxwriter

3.2 Chargement et préparation des données

In [19]:
#3.2.1 Indexation du repertoire de travail
os.chdir("C:/Users/HP/Desktop/Code_Jupiter")

#3.2.2 Nomination des colonnes
items=["geonameid", "name", "asciiname", "alternatenames", "latitude", "longitude", "feature class", "feature code", "country code", 
     "cc2", "admin1 code", "admin2 code", "admin3 code", "admin4 code", "population", "elevation", "dem", "timezone","modification date"]

#1.3 Chargement de la base de données
bfa = pd.read_csv("BF.txt", delimiter="\t", header=None, names=items, keep_default_na=False)
bfa #Affichage de la base

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,2353158,Zyonguen,Zyonguen,,12.36667,-0.45000,P,PPL,BF,,04,,,,0,,293,Africa/Ouagadougou,2012-06-05
1,2353159,Zyiliwèlè,Zyiliwele,,12.38333,-2.73333,P,PPL,BF,,06,,,,0,,277,Africa/Ouagadougou,2012-06-05
2,2353160,Zyanko,Zyanko,,12.78333,-0.41667,P,PPL,BF,,05,,,,0,,301,Africa/Ouagadougou,2012-06-05
3,2353161,Zouta,Zouta,,13.14908,-1.28197,P,PPL,BF,,05,70,,,0,,306,Africa/Ouagadougou,2010-07-31
4,2353162,Zourtenga,Zourtenga,,12.95741,-1.28745,P,PPL,BF,,05,,,,0,,290,Africa/Ouagadougou,2018-09-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11292,12358656,Timambari,Timambari,,11.84209,1.67023,P,PPL,BF,,08,42,,,0,,298,Africa/Ouagadougou,2021-10-23
11293,12358657,Nagbingou,Nagbingou,,13.55244,-0.46760,P,PPL,BF,,05,64,,,0,,275,Africa/Ouagadougou,2021-10-23
11294,12358665,Niamango,Niamango,,9.82967,-4.33708,P,PPL,BF,,02,55,,,0,,299,Africa/Ouagadougou,2021-10-24
11295,12358676,Sella,Sella,,14.35699,0.28666,P,PPL,BF,,12,71,,,0,,292,Africa/Niamey,2021-10-25
11296,12358677,Kiefaye,Kiefaye,,13.78260,-1.58790,P,PPL,BF,,05,15,,,0,,320,Africa/Ouagadougou,2021-10-25

In [20]:
#3.2.3. Préparation de la base de données

items2 = ["geonameid", "asciiname", "latitude", "longitude"]

extract_bfa = bfa[items2]

# 3.2.4. Rénommination des colonnes

rename_items2 = {"geonameid":"ID", "asciiname":"location_name", "latitude":"lat", "longitude":"long"}

extract_bfa.rename(columns = rename_items2, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [21]:
#3.2.5. Enregitstrement de l base de données au format csv

extract_bfa.to_csv("burkina_location.csv")

4. Opérations sur fichier csv

In [22]:
# 4.1. Chargement du fichier csv

burkina_loc = pd.read_csv('burkina_location.csv')

In [23]:
# 4.2. Extraction des données contenant le nom gounghin

burkina_loc_gounghin = burkina_loc[burkina_loc.location_name.str.lower()=="gounghin"]

In [24]:
# 4.3. Enregistrement de burkina_location_gounghin sous format csv

burkina_loc_gounghin.to_csv('gounghin.csv')

In [25]:
# 4.4. Extraction des lieux dont les noms sont compris entre A et P

a_p = list(string.ascii_uppercase[:16])

burkina_loc_a_p = burkina_loc[burkina_loc.location_name.str[0].isin(a_p)].sort_values(by='location_name')

In [26]:
# 4.5. Enregistrement de burkina_location_a_p sous format csv

burkina_loc_a_p.to_csv('burkina_location_a_p.csv')

In [27]:
# 4.6. Affichage des latitudes minimales de burkina_location.csv

burkina_loc[burkina_loc.lat == burkina_loc.lat.min()]

       Unnamed: 0        ID location_name     lat    long
11149       11149  12224995  Fadio-Mepehn  9.4295 -2.7775

In [28]:
# 4.7. Affichage des latitudes minimales de burkina_location.csv

burkina_loc[burkina_loc.long == burkina_loc.long.min()]

      Unnamed: 0       ID location_name    lat     long
1255        1255  2354426      Tinobole  10.75 -5.48333

In [29]:
# 4.8. Les leiux dont lat>=11 et long<=0.5

burkina_loc[(burkina_loc.lat >= 11 ) & (burkina_loc.long <= 0.5 ) ]

       Unnamed: 0        ID location_name       lat     long
0               0   2353158      Zyonguen  12.36667 -0.45000
1               1   2353159     Zyiliwele  12.38333 -2.73333
2               2   2353160        Zyanko  12.78333 -0.41667
3               3   2353161         Zouta  13.14908 -1.28197
4               4   2353162     Zourtenga  12.95741 -1.28745
...           ...       ...           ...       ...      ...
11288       11288  12358467          Kate  14.13461 -0.81244
11290       11290  12358654      Koulhole  13.43898 -1.16817
11293       11293  12358657     Nagbingou  13.55244 -0.46760
11295       11295  12358676         Sella  14.35699  0.28666
11296       11296  12358677       Kiefaye  13.78260 -1.58790

[9026 rows x 5 columns]

3.Sortie Excel

In [30]:
# Création du fichier Excel nommé mini_projet

book  = xlsxwriter.Workbook(os.path.join(os.getcwd(), 'mini_projet.xlsx'))
sheet_gounghin = book.add_worksheet('gounghin')
sheet_a_to_p = book.add_worksheet('A_to_P')

colonnes = [c for c in list(burkina_loc_gounghin.columns) if c!='Unnamed: 0']

# Création des entêtes 

for i in range(len(colonnes)):
        sheet_gounghin.write(0, i, colonnes[i])
        sheet_a_to_p.write(0, i, colonnes[i])
        
# Renseignement des données

for i in range(burkina_loc_gounghin.shape[0]):
    for j in range(len(colonnes)):
        sheet_gounghin.write(i+1, j, burkina_loc_gounghin.iloc[i][colonnes[j]])

for i in range(burkina_loc_a_p.shape[0]):
    for j in range(len(colonnes)):
        sheet_a_to_p.write(i+1, j, burkina_loc_a_p.iloc[i][colonnes[j]])
book.close()